{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="container">
            {% trans '<h3>Welcome to UBNL username:' %} <i>{{request.user.username}}</i></h3><br>
        <h4>Click below for Investment</h4>
        <form style="padding-top: 1%"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HQVGur85NynzUt" async> </script> </form>
        <button type="button" class="btn btn-info" ><a style="text-decoration: None" href="/accounts/dashboard_transaction">Check your past transactions</a></button>
        </div>
    {% else %}
        {% trans 'You are a guest.' %}



    {% endif %}



{% endblock %}
