{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Welcome to UBNL Username:' %} <b>{{request.user.username}}</b><br>
        <h3 style="padding: 1%;text-align: left">Click below For Financial Freedom</h3>
        <form style="padding: 1%;text-align: left"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HQVGur85NynzUt" async> </script> </form>
    {% else %}
        {% trans 'You are a guest.' %}



    {% endif %}



{% endblock %}
