[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.20"
"django-bootstrap4" = "==1.1.1"
gunicorn = "~=20.1.0"
dj-database-url = "*"
psycopg2 = "~=2.8.6"
razorpay = "*"