{% extends 'accounts/base.html' %}

{% block content %}
<h2 style="padding-top: 1%;padding-bottom: 1%">Admin Enter Customer Details</h2>
  <form method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button type="submit" class="btn btn-primary" style="margin-top: 2%">Save Details</button>

  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
      {% endfor %}
  </ul>
{% endif %}
{% endblock %}